<div class="container">
    <div class="row">
        <div class="col">
            <h1>Benvenuto in {{nome_store}}</h1>
            <p>Componi il tuo carrello scegliendo fra i prodotti disponibili nel nostro store.</p>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-3 "> 
            <div class="row">
                Prodotti: <input [(ngModel)]="contatore" type="number" class="form-control" disabled>  
            </div>
            <div class="row">
                Totale : <input [(ngModel)]="somma" type="number" class="form-control" disabled>  
            </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-2 my-auto" style="margin-left: 20px;" > 
            <div class="row">
                <button type="button" (click)="navigaDettaglio()" class="btn btn-warning  "><i class="fas fa-shopping-cart"></i> <br> Genera Ordine !</button>  
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-10">
            <h4>Lista Prodotti :</h4>
            <table style="text-align: center;" class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Codice</th>
                        <th>Prezzo</th>
                        <th>Quantità</th>
                        <th>Descrizione</th>
                        <th>Acquista <i class="fas fa-shopping-basket"></i></th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let prodotto of elenco_prod, let i = index"> 
                        <td>{{prodotto.nome}}</td>
                        <td>{{prodotto.codiceProdotto}}</td>
                        <td>{{prodotto.prezzo}} $</td>
                        <td>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2"></div>
                                <div class="col-md-6"><input min="1" #inputQta [(ngModel)]="inputQuantita[i]"  style="text-align: center;" type="number" class="form-control"></div>
                                <div class="col-md-2"></div>
                            </div>
                        </td>
                        <td>{{prodotto.descrizione}} </td>
                        <td><button #btnAdd type="button" (click)="addCarrello(btnAdd)" name="{{i}}"  id={{prodotto.prodottoid}} class="btn btn-success"><i class="fas fa-plus"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
