<div class="container">
    <div class="row">
        <div class="col">
            <h1>Riepilogo dei prodotti presenti nel carrello</h1>
            <table style="margin-top: 30px;" class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Codice</th>
                        <th>Prezzo</th>
                        <th>Quantità</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prodotto of ordine.elencoProdotti">
                        <td>{{prodotto.nome}}</td>
                        <td>{{prodotto.codice}}</td>
                        <td>{{prodotto.prezzo}}</td>
                        <td>{{prodotto.qta}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div style="text-align: center;" class="col-md-4">
                    <strong>Totale</strong>  : <input [(ngModel)]="somma" type="number" class="form-control" disabled>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 30px;" class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-block btn-outline-success">COMPRA !</button>
        </div>
    </div>
</div>
