<div class="container">
    <div class="row">
      <div class="class">
        <h1>Benvenuto nell'E-Commerce</h1>
        <h5>Completa i seguenti campi per effettuare l'iscrizione</h5>
        <div class="form-group">
          <label for="log-user">Username : </label>
          <input type="text" class="form-control" [(ngModel)]="inputUser"  id="log-user">
        </div>
        <div class="form-group">
          <label for="log-user">Password : </label>
          <input type="password" class="form-control" [(ngModel)]="inputPsw"  id="log-psw">
        </div>
        <div class="form-group">
          <label for="log-indirizzo">Indirizzo : </label>
          <input type="text" class="form-control" [(ngModel)]="inputIndirizzo"  id="log-indirizzo">
        </div>
        <div class="form-group">
          <button type="button" (click)="effettuaIscrizione()" class="btn btn-outline-success">ISCRIVITI!</button>
        </div>
      </div>
    </div>
  </div>

