<style>
  .img-store{
    max-width: 100%; max-height: 100%;
  }
  .col-md-4-btn{
    display: table-cell;
    vertical-align: middle 
  }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Benvenuto: {{inputUser}}!</h1>
            <p>Scegli fra i negozi disponibili nella lista.</p>
        </div> 
    </div>
</div>
<div  class="container">
    <div style="margin-top: 20px;" *ngFor="let store of elenco_store" class="row">
      <!-- Qui mettere funzione che prende da ogni elemento dell'array di elenco store e ci mette il link immagine  e il suo nome sul bottone -->
        <div class="col-md-4"> 
            <img class="img-fluid img-thumbnail" src={{store.url_immagine}}>
        </div>
        <div class="col-md-4 my-auto">
                <!-- <span><a href="">Compra da mediaworld</a></span> -->
                <span><button #btnStore (click)="paginaNegozio(btnStore)" name={{store.codice}} type="button" id={{store.nome}} class="btn btn-block btn-outline-primary">Compra da {{store.nome}}</button></span>
        </div>        
    </div>
</div>

