<div class="container">
    <div class="row">
      <div class="class">
        <h1>Benvenuto nell'E-Commerce</h1>
        <p>Effettua il login inserendo username e password.</p>
        <div class="form-group">
          <label for="log-user">Username : </label>
          <input type="text" class="form-control" [(ngModel)]="inputUser"  id="log-user">
        </div>
        <div class="form-group">
          <label for="log-user">Password : </label>
          <input type="password" class="form-control" [(ngModel)]="inputPsw"  id="log-psw">
        </div>
        <div class="form-group">
          <button type="button" (click)="effettuaLogin()" class="btn btn-outline-success"> LOG-IN</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Non sei ancora iscritto?
          <a  class="nav-link" routerLink="/utente/insert" routerLinkActive="true">Clicca qui</a>.</p>
      </div>
    </div>
  </div>
